# build output
dist/
.vercel/

# dependencies
node_modules/

# local env files
.env
.env.production
.env.local
.env.*

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# system files
.DS_Store
.gemini/
*.log
